/* ===== initial ===== */
html {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

* {
    box-sizing: inherit;
    margin: 0;
    background-color: lightslategray;
}

/* ===== index page ===== */
.main-title {
    width: 700px;
    margin: 100px auto;
    background-color: cornflowerblue;
    border: 17px solid darkslategray;    
}

.main-odin {
    font-weight: bold;
    font-size: 50px;
    margin-left: 110px;
    background-color: cornflowerblue;
    color: lightskyblue;
}

.main-recipes {
    font-weight: bold;
    font-size: 100px;
    margin-left: 5px;
    font-family: 'Times New Roman', Times, serif;
    background-color: cornflowerblue;
    color: darkslategray;
}

.recipe-list ul {
    width: 380px;
    padding: 10px 50px;
    margin: 20px auto;
    background-color: cornflowerblue;
    border: 12px solid darkslategray;
}

.recipe-list li,
.home {
    padding: 24px;
    margin: 24px;
    background-color: darkslategray;
    border: 5px solid lightskyblue;
    border-right: 10px solid lightslategray;
    border-bottom: 10px solid lightslategray;
}

.recipe-list li:hover,
.home:hover {
    background-color: black;
    color: silver;
}

.recipe-list a,
.home-link {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}

.main-logo {
    width: 200px;
    margin: 90px auto -50px auto;
}

/* ===== recipe pages ===== */

.home {
    width: 120px;
    border-right-color: black;
    border-bottom-color: black;
    text-align: center;
    float: right;
}

.title {
    font-size: 60px;
    color: aliceblue;
    text-align: center;
    margin: 40px;
    padding: 10px;
    border-bottom: 8px dotted darkslategray;
}

.foodpic {
    text-align: center;
    margin: 50px;
    margin-left: 160px;
}

.desc,
.desc strong,
.desc em {
    width: 700px;
    background-color: silver;
    text-align: center;
    margin: 50px auto;
}

.desc {
    padding: 20px;
}

h2 {
    color: darkslategray;
    text-align: center;
    font-size: 40px;
    margin: 50px;
    margin-bottom: 25px;
}

.list,
.list li,
.list li strong,
.list li em {
    width: 700px;
    background-color: silver;
    margin: 10px auto;
}

.ing {
    padding-left: 60px;
}

.list li {
    padding: 6px;
    padding-left: 12px;
    width: 600px;
}

ul.list,
ol.list {
    margin: 30px auto;
    padding: 30px;
}

strong {
    color: brown;
}

.ing li em {
    color: darkslategray;
}