/* ===== initial ===== */
html {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: inherit;
    margin: 0;
    background-color: lightslategray;
}

/* ===== index page ===== */
.main-title {
    width: 700px;
    margin: 100px auto;
    background-color: cornflowerblue;
    border: 17px solid darkslategray;    
}

.main-odin {
    font-weight: bold;
    font-size: 50px;
    margin-left: 110px;
    background-color: cornflowerblue;
    color: lightskyblue;
}

.main-recipes {
    font-weight: bold;
    font-size: 100px;
    margin-left: 5px;
    font-family: 'Times New Roman', Times, serif;
    background-color: cornflowerblue;
    color: darkslategray;
}

.recipe-list ul {
    width: 380px;
    padding: 10px 50px;
    margin: 20px auto;
    background-color: cornflowerblue;
    border: 12px solid darkslategray;
}

.recipe-list li,
.home {
    padding: 24px;
    margin: 24px;
    background-color: darkslategray;
    border: 5px solid lightskyblue;
    border-right: 10px solid lightslategray;
    border-bottom: 10px solid lightslategray;
}

.recipe-list li:hover,
.home:hover {
    background-color: black;
    color: silver;
}

.recipe-list a,
.home-link {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}

.main-logo {
    width: 200px;
    margin: 90px auto -50px auto;
}

/* ===== recipe pages ===== */

.home {
    width: 120px;
    border-right-color: black;
    border-bottom-color: black;
    text-align: center;
}
